.main-home-img {
    background: url(../assets/main.png)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    padding-top: 290px;
    padding-bottom: 260px;
}

.space {
    margin-top: 90px;
    margin-bottom: 90px;
}

.text {
    font-size: 21px;
}

.hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}